<div class="row">
  <div class="col-6">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">UserName</th>
          <th scope="col">Orderstatus</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of aorders"
          (click)="setSelectedorder(order)"
          [ngClass]="order.id === aorder.id ? 'table-primary' : ''"
        >
          <th scope="row">{{ order.id }}</th>
          <td>{{ order.username }}</td>
          <td>{{ order.orderstatus }}
            <div class="dropdown">
              <select name="status" id="oStatus" (change)="updateStatus($event, order)">
                <option  selected value="1">Pending</option>
                <option value="2">Confirmed</option>
                <option value="3">Out for Delivery</option>
                <option value="4">Delivered</option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <p>productList</p>
    <div class="" *ngFor="let productList of aorder.productList">
      <div>
        <p>1) product Name = {{ productList.title }}</p>
      </div>
      <div>
        <p>2) Description = {{ productList.description }}</p>
      </div>
      <div>
        <p>3) price = {{ productList.price }}</p>
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="updateOrder(OrderDetail)" *ngFor="let OrderDetail of OrderDetails">
  <div class="mb-3">
    <div class="form-group">
      <label for="orderId">Order ID</label>
      <input type="number" class="form-control" id="orderId" name="orderId" [(ngModel)]="OrderDetail.id" required>
    </div>

    <div class="form-group">
      <label for="statusId">Status ID</label>
      <input type="number" class="form-control" id="statusId" name="statusId" [(ngModel)]="OrderDetail.statusID" required>
    </div>

    <!-- Add other input fields as needed -->

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger text-dark">Update Order</button>
    </div>
  </div>
</form>